@model Tickets.Web.Models.UserModel
@{
    ViewBag.Title = "Кабинет пользователя";
}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            Имя: @Model.FirstName
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            Фамилия: @Model.LastName
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-2">
            Email: @Model.Email
        </div>
    </div>
</div>

